mixin tableRow(idx, data)
    tr
        td= idx + 1
        td= data.name
        td= data.address.building + ' ' + data.address.street
        td= data.address.zipcode
        td= data.borough

extend layout
block autocomplete
    .input-group
        input(type='text' class='form-control' placeholder='Find Location...')
        span.input-group-btn
            button.btn.btn-primary(type='button') Search!

block content
    table.table
        thead
            tr
                th ID
                th Name
                th Address
                th Zipcode
                th Borough
        tbody
            each rest, key in restaurants
                +tableRow(key, rest)

block sidebar
    .widget
        h4 Widget
        p
            |  later replace this with google map api
            | for sure.
        p
            | definitely use maps to map pin
            | hahah
