mixin tableRow(idx, data)
    tr
        td= idx + 1
        td= data.name
        td= data.address.building + ' ' + data.address.street
        td= data.address.zipcode
        td= data.borough
        td.btn.removeRecord&attributes({'data-srcid': idx})
            i.glyphicon.glyphicon-remove-circle

extend layout
block autocomplete
    .input-group
        input(id='autoSearch' type='text' class='form-control' placeholder='Find Location...')
        span.input-group-btn
            button.btn.btn-primary(type='button') Add

block content
    table.table
        thead
            tr
                th ID
                th Name
                th Address
                th Zipcode
                th Borough
        tbody
            each rest, key in restaurants
                +tableRow(key, rest)

block sidebar
    h4 Location Map
    .canvas
        #map-canvas

block onpageScript
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.20&libraries=places&sensor=false')
    script(type='text/javascript' src='/js/google-autocomplete.js')
    script(type='text/javascript' src='/js/pageclient.js')
